[submodule "src/third_party/nanobench"]
	path = src/third_party/nanobench
	url = https://github.com/martinus/nanobench.git
[submodule "src/third_party/doctest"]
	path = src/third_party/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "src/third_party/libsimdpp"]
	path = src/third_party/libsimdpp
	url = https://github.com/p12tic/libsimdpp.git
[submodule "src/third_party/mnist"]
	path = src/third_party/mnist
	url = https://github.com/wichtounet/mnist.git
[submodule "src/third_party/argh"]
	path = src/third_party/argh
	url = https://github.com/adishavit/argh.git
[submodule "src/third_party/raylib"]
	path = src/third_party/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "src/third_party/imgui"]
	path = src/third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/third_party/rayutils"]
	path = src/third_party/rayutils
	url = https://github.com/Rabios/rayutils.git
[submodule "src/third_party/imgui-impl-raylib"]
	path = src/third_party/imgui-impl-raylib
	url = https://github.com/oskaritimperi/imgui-impl-raylib.git
[submodule "src/third_party/raycons"]
	path = src/third_party/raycons
	url = https://github.com/nbdy/raycons.git
[submodule "src/third_party/libpartikel"]
	path = src/third_party/libpartikel
	url = https://github.com/dbriemann/libpartikel.git
[submodule "src/third_party/MathX"]
	path = src/third_party/MathX
	url = https://github.com/JusticeShultz/MathX.git
[submodule "src/third_party/RaylibSIMD"]
	path = src/third_party/RaylibSIMD
	url = https://github.com/Doy-lee/RaylibSIMD.git
[submodule "src/third_party/raylibImGui"]
	path = src/third_party/raylibImGui
	url = https://github.com/Ushio/raylibImGui.git
[submodule "src/third_party/cbit-raylib"]
	path = src/third_party/cbit-raylib
	url = https://github.com/nurakmaljalil91/cbit-raylib.git
[submodule "src/third_party/PhysicsEngine"]
	path = src/third_party/PhysicsEngine
	url = https://github.com/CarterPatterson/PhysicsEngine.git
[submodule "src/third_party/clay"]
	path = src/third_party/clay
	url = https://github.com/RafaelOliveira/clay.git
[submodule "src/third_party/WaveEquationDemo"]
	path = src/third_party/WaveEquationDemo
	url = https://github.com/ProfJski/WaveEquationDemo.git
[submodule "src/third_party/tic-tac-toe-ai"]
	path = src/third_party/tic-tac-toe-ai
	url = https://github.com/fr3fou/tic-tac-toe-ai.git
[submodule "src/third_party/VoronoiDiagram"]
	path = src/third_party/VoronoiDiagram
	url = https://github.com/DavinderMaverick/VoronoiDiagram.git
[submodule "src/third_party/Game-of-Life-in-multiple-languages"]
	path = src/third_party/Game-of-Life-in-multiple-languages
	url = https://github.com/Skaruts/Game-of-Life-in-multiple-languages.git
[submodule "src/third_party/raylib-cmake-template"]
	path = src/third_party/raylib-cmake-template
	url = https://github.com/SasLuca/raylib-cmake-template.git
[submodule "src/third_party/awesome-raylib"]
	path = src/third_party/awesome-raylib
	url = https://github.com/Rabios/awesome-raylib.git
[submodule "src/third_party/box2d-lite"]
	path = src/third_party/box2d-lite
	url = https://github.com/erincatto/box2d-lite.git
[submodule "src/third_party/Physac"]
	path = src/third_party/Physac
	url = https://github.com/victorfisac/Physac.git
[submodule "src/third_party/tinygeom2d"]
	path = src/third_party/tinygeom2d
	url = https://github.com/ttalvitie/tinygeom2d.git
[submodule "src/third_party/tiny-dnn"]
	path = src/third_party/tiny-dnn
	url = https://github.com/tiny-dnn/tiny-dnn.git
[submodule "src/third_party/MiniDNN"]
	path = src/third_party/MiniDNN
	url = https://github.com/yixuan/MiniDNN.git
[submodule "src/third_party/json"]
	path = src/third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "src/third_party/spdlog"]
	path = src/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/third_party/entt"]
	path = src/third_party/entt
	url = https://github.com/skypjack/entt.git
[submodule "src/third_party/csv2"]
	path = src/third_party/csv2
	url = https://github.com/p-ranav/csv2.git
[submodule "src/third_party/libgrape-lite"]
	path = src/third_party/libgrape-lite
	url = https://github.com/alibaba/libgrape-lite.git
[submodule "src/third_party/BrainTree"]
	path = src/third_party/BrainTree
	url = https://github.com/arvidsson/BrainTree.git
[submodule "src/third_party/HFSM2"]
	path = src/third_party/HFSM2
	url = https://github.com/andrew-gresyk/HFSM2.git
[submodule "src/third_party/array-hash"]
	path = src/third_party/array-hash
	url = https://github.com/Tessil/array-hash.git
[submodule "src/third_party/array"]
	path = src/third_party/array
	url = https://github.com/dsharlet/array.git
[submodule "src/third_party/valuable"]
	path = src/third_party/valuable
	url = https://github.com/LoopPerfect/valuable.git
[submodule "src/third_party/ureact"]
	path = src/third_party/ureact
	url = https://github.com/YarikTH/ureact.git
[submodule "src/third_party/fmt"]
	path = src/third_party/fmt
	url = https://github.com/fmtlib/fmt.git
