[submodule "src/third_party/nanobench"]
	path = src/third_party/nanobench
	url = https://github.com/martinus/nanobench.git
[submodule "src/third_party/doctest"]
	path = src/third_party/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "src/third_party/libsimdpp"]
	path = src/third_party/libsimdpp
	url = https://github.com/p12tic/libsimdpp.git
[submodule "src/third_party/mnist"]
	path = src/third_party/mnist
	url = https://github.com/wichtounet/mnist.git
[submodule "src/third_party/argh"]
	path = src/third_party/argh
	url = https://github.com/adishavit/argh.git
[submodule "src/third_party/raylib"]
	path = src/third_party/raylib
	url = https://github.com/raysan5/raylib.git
